* {
  padding: 0;
  margin: 0;
    box-sizing: border-box;
  }

  header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: rgba(43, 43, 199, 0.774);
    padding: 20px;
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); */
  }

  .logo img{
    height: 70px;
    border-radius: 50px;
  }

  nav ul{
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  nav li {
    margin-left: 20px;
  
  }

  nav a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
  }

  nav a:hover{
    color: red;
  }
  

  .menu {
    float: left;
    width: 20%;
    text-align: center;
  }
  
  .menu a {
    background-color: #e5e5e5;
    padding: 8px;
    margin-top: 7px;
    display: block;
    width: 100%;
    color: black;
  }
  
  .main {
    float: left;
    width: 60%;
    padding: 0 20px;
  }
  
  .right {
    background-color: #e5e5e5;
    font-size: larger;
    font-weight: bold;
    float: left;
    width: 20%;
    padding: 15px;
    margin-top: 7px;
    text-align: center;
  }
  
  
  @media only screen and (max-width: 700px) {
    .responsive {
      width: 49.99999%;
      margin: 6px 0;
    }
  }
  
  @media only screen and (max-width: 500px) {
    .responsive {
      width: 100%;
    }
  }
  